{% extends "./base.html" %}
{% block title %}添加专利{% endblock %}

{% block extra_head %}
    {% load static %}
    <script src="{% static "main/js/add.js" %}"></script>
{% endblock %}

{% block content %}
{% if message %}
<div class="modal fade" id="messageModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">信息</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          {{ message }}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
      </div>

    </div>
  </div>
</div>
{% endif %}
<div class="container" style="margin-top: 80px;">
    <p hidden id="status">{{ status }}</p>
    <h3 class="mb-3 p-0">新增专利项目</h3>
    <!--<p>Three equal width columns! Try to add a new div with class="col" inside the row class - this will create four equal-width columns.</p>-->
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row my-2">
            <div class="col-md px-1 m-1">
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">公开号</span>
                    </div>
                    <input name="pub_id" required type="text" class="form-control" >
                </div>
            </div>
            <div class="col-md px-1 m-1" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">申请号</span>
                    </div>
                    <input name="application_id" required type="text" class="form-control"  >
                </div>
            </div>
            <div class="col-md px-1 m-1" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">主分类号</span>
                    </div>
                    <input name="cat_id" required type="text" class="form-control"  >
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col px-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">标题</span>
                    </div>
                    <input name="title" required type="text" class="form-control" >
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col px-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">标题(翻译)</span>
                    </div>
                    <input name="title_cn" required type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="row my-2>">
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">专利权人</span>
                    </div>
                    <input name="applicants" required type="text" class="form-control" placeholder="用英文 ; 分隔">
                </div>
            </div>
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">法律状态</span>
                    </div>
                    <input name="law_state" required type="text" class="form-control" >
                </div>
            </div>
            <div class="col px-2" >
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">专利类型</span>
                    </div>
                    <select class="form-control" name="patent_type">
                        {% for type in patent_types %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>

        <div class="row my-2">
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">标引</span>
                    </div>
                    <input name="index" required type="text" class="form-control" >
                </div>
            </div>
            <div class="col px-2">
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">一级</span>
                    </div>
                    <input name="branch1" required type="text" class="form-control" value="无">
                </div>
            </div>
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">二级</span>
                    </div>
                    <input name="branch2" required type="text" class="form-control" value="无">
                </div>
            </div>
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">三级</span>
                    </div>
                    <input name="branch3" required type="text" class="form-control" value="无">
                </div>
            </div>

        </div>

        <div class="row my-2">
            <div class="col px-2">
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">发明点</span>
                    </div>
                    <input name="invent_desc" required type="text" class="form-control" value="无">
                </div>
            </div>
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">技术问题</span>
                    </div>
                    <input name="tech_prob" required type="text" class="form-control" value="无">
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col px-2">
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">公开日期</span>
                    </div>
                    <input name="pub_date" required type="text" class="form-control"
                           placeholder="格式：2018-8-18" pattern="\d{4}-\d{1,2}-\d{1,2}">
                </div>
            </div>
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">申请日期</span>
                    </div>
                    <input name="application_date" required type="text" class="form-control"
                    placeholder="格式：2018-8-18" pattern="\d{4}-\d{1,2}-\d{1,2}">
                </div>
            </div>

        </div>
        <div class="row my-2">
            <div class="col px-2">
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">简单同族</span>
                    </div>
                    <input name="same_family_patent" required type="text" class="form-control" placeholder="用英文 ; 分隔">
                </div>
            </div>
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">同族国家</span>
                    </div>
                    <input name="nations" required type="text" class="form-control" placeholder="用英文 , 分隔">
                </div>
            </div>
        </div>


        <div class="row my-2">
            <div class="col px-2">
                <!--<div class="form-group">-->
                    <label for="abstract_area" class="p-0 m-0">摘要:</label>
                    <textarea id="abstract_area" class="form-control" rows="5" name="abstract" ></textarea>
               <!-- </div>-->
            </div>
            <div class="col px-2">
                <label for="abstract_cn_area" class="p-0 m-0">摘要（翻译）:</label>
                <textarea id="abstract_cn_area" class="form-control" rows="5" name="abstract_cn" ></textarea>
            </div>

        </div>
        <div class="row my-2">
            <div class="col px-2">
                <!--<label for="file" class="rounded p-1 bg-primary m-0 text-white" data-toggle="tooltip" title="上传PDF文件">上传PDF文件</label>-->
                <input type="file" name="pdf_file" id="file" class="form-control-file rounded bg-white" accept=".pdf" >
            </div>
        </div>

        <div class="row my-2 px-2 justify-content-end">
               <input type="submit" class="btn btn-primary px-5 m-0" value="提交">
        </div>
    </form>
    <!--<form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="text" name="same_family">
        <input type="submit" value="提交">
    </form>-->
</div>
{% endblock %}
