<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    {% load static %}
    <link type="text/css" href="{% static "main/css/bootstrap.min.css"%}" rel="stylesheet">
    {% load static %}
    <script src="{% static "main/js/bootstrap.min.js" %}"></script>
    {% load static %}
    <script src="{% static "main/js/detail.js" %}"></script>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static "main/css/index.css" %}">
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
        DEL_URL="{% url 'main:del' %}"
    </script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-white navbar-light my-4 px-3 py-0">
    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'main:index' %}">
        <h5 class="p-0 m-0">专利管理系统</h5>
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link p-4 " href="" data-toggle="dropdown">
                    <h5 class="p-0 m-0">数据库管理</h5>
                </a>
                <div class="dropdown-menu border-0 rounded-0 m-0 py-0 ">
                    <a class="dropdown-item px-3 py-2" href="{% url 'main:import' %}">
                        导入
                    </a>
                    <a class="dropdown-item px-3 py-2" href="{% url 'main:add' %}">
                        新增
                    </a>
                    <a class="dropdown-item px-3 py-2" href="{% url 'main:query' %}">
                        查询
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link p-4 " href="" data-toggle="dropdown">
                    <h5 class="p-0 m-0">{{ user_name }}</h5>
                </a>
                <div class="dropdown-menu border-0 rounded-0 m-0 py-0 ">
                    <a class="dropdown-item px-3 py-2" href="{% url 'account:logout' %}">
                        登出
                    </a>
                </div>
            </li>
            <!--<li class="nav-item">
                <a class="nav-link p-4" href="#">
                    <h5 class="p-0 m-0">备用</h5>
                </a>
            </li>-->
        </ul>
    </div>
</nav>

<div class="modal fade" id="delModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">确认信息</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          确定删除公开号为 <span class="text-danger">{{ item.pub_id }}</span> 的专利吗？
          <span class="text-danger">此操作不可恢复!</spant>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="del_confirm_btn">确定</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="delInfoModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">信息</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="del_info_text">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-10 px-0 m-0">
            <h3 class="mx-2 p-0">专利项目详情</h3>
        </div>
        <div class="col-sm-2 p-1 m-0 d-flex justify-content-end">
            <button id="change_btn" type="button" class="btn btn-primary mx-2">修改</button>
            <a target="_blank" href="{% url 'main:view_file' item.pub_id %}" id="view_file_btn" role="button" class="btn btn-primary mx-2">查看文件</a>
            <button id="del_btn" type="button" class="btn btn-danger mx-2"
                    data-toggle="modal" data-target="#delModal">删除</button>
        </div>
    </div>

    <!--<p>Three equal width columns! Try to add a new div with class="col" inside the row class - this will create four equal-width columns.</p>-->
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row my-2">
            <div class="col-md px-1 m-1">
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">公开号</span>
                    </div>
                    <input id="pub_id_input" readonly name="pub_id" required type="text" class="form-control" value="{{  item.pub_id }}">
                </div>
            </div>
            <div class="col-md px-1 m-1" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">申请号</span>
                    </div>
                    <input name="application_id" required type="text" class="form-control"  readonly value="{{  item.application_id }}">
                </div>
            </div>
            <div class="col-md px-1 m-1" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">主分类号</span>
                    </div>
                    <input name="cat_id" required type="text" class="form-control"  readonly value="{{ item.cat_id }}">
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col px-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">标题</span>
                    </div>
                    <input name="title" required type="text" class="form-control" readonly value="{{ item.title }}">
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col px-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">标题(翻译)</span>
                    </div>
                    <input name="title_cn" required type="text" class="form-control" readonly value="{{ item.title_cn }}">
                </div>
            </div>
        </div>

        <div class="row my-2>">
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">专利权人</span>
                    </div>
                    <input name="applicants" required type="text" class="form-control" readonly value="{{ applicant_str }}">
                </div>
            </div>

            <div class="col px-2" >
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">专利类型</span>
                    </div>
                    <select class="form-control" name="patent_type" disabled>
                        {% for type in patent_types %}
                            {% if type == item.patent_type %}
                                <option value="{{ type }}" selected>{{ type }}</option>
                            {% else %}
                                <option value="{{ type }}">{{ type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

        </div>

        <div class="row my-2">
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">标引</span>
                    </div>
                    <input name="index" required type="text" class="form-control" readonly value="{{ item.index }}">
                </div>
            </div>
            <div class="col px-2">
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">一级</span>
                    </div>
                    <input name="branch1" required type="text" class="form-control" readonly value="{{ item.branch1 }}">
                </div>
            </div>
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">二级</span>
                    </div>
                    <input name="branch2" required type="text" class="form-control" readonly value="{{ item.branch2 }}">
                </div>
            </div>
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">三级</span>
                    </div>
                    <input name="branch3" required type="text" class="form-control" readonly value="{{ item.branch3 }}">
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col px-2">
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">发明点</span>
                    </div>
                    <input name="invent_desc" required type="text" class="form-control" readonly value="{{ item.invent_desc }}">
                </div>
            </div>
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">技术问题</span>
                    </div>
                    <input name="tech_prob" required type="text" class="form-control" readonly value="{{ item.tech_prob }}">
                </div>
            </div>
        </div>


        <div class="row my-2">
            <div class="col px-2">
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">公开日期</span>
                    </div>
                    <input name="pub_date" required type="text" class="form-control"
                           readonly value="{{ item.pub_date|date:'Y/m/d' }}" pattern="\d{4}/\d{2}/\d{2}">
                </div>
            </div>
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">申请日期</span>
                    </div>
                    <input name="application_date" required type="text" class="form-control"
                    readonly value="{{ item.application_date|date:'Y/m/d' }}" pattern="\d{4}/\d{2}/\d{2}">
                </div>
            </div>

        </div>
        <div class="row my-2">
            <div class="col px-2">
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">简单同族</span>
                    </div>
                    <input name="same_family_patent" required type="text" class="form-control" readonly value="{{ family_patent_str }}">
                </div>
            </div>
            <div class="col px-2" >
                <div class="input-group m-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text">同族国家</span>
                    </div>
                    <input name="nations" required type="text" class="form-control" readonly value="{{ nation_str }}">
                </div>
            </div>
        </div>

        <div class="row my-2">
            <div class="col px-2">
                <!--<div class="form-group">-->
                    <label for="abstract_area" class="p-0 m-0">摘要:</label>
                    <textarea id="abstract_area" class="form-control" rows="5" name="abstract" readonly >{{ item.abstract }}</textarea>
               <!-- </div>-->
            </div>
            <div class="col px-2">
                <label for="abstract_cn_area" class="p-0 m-0">摘要（翻译）:</label>
                <textarea id="abstract_cn_area" class="form-control" rows="5" name="abstract_cn" readonly>{{ item.abstract_cn }}</textarea>
            </div>

        </div>

        <div class="row my-2 px-2 justify-content-end">
               <input type="submit" id="submit_btn" hidden class="btn btn-primary px-5">
        </div>
    </form>
    <div class="row my-2 px-2 ">
        <h4 class="mx-2 p-0">用户批注</h4>
    </div>

    {% for note in notes %}
    <div class="row mb-2 px-1">
                <div class="col-2 bkg-profile-color p-0 d-flex flex-column justify-content-center ">
                        <!--<img class="img-fluid mb-3" src="/static/img/img_avatar{{host_gender}}.png" alt="profile avatar">-->
                        <strong class="break-word text-center p-1 ">{{ note.user }}</strong>
                </div>
                <div class="col-10 bkg-white-color border-0 d-flex flex-column ">
                    <p class="my-1 break-word">{{ note.note | linebreaksbr}}</p>
                    <!--<div class="d-flex mt-auto justify-content-end align-items-center">
                        <p class="font-small p-0 m-0 mr-2 text-secondary">1楼</p>
                        <p class="font-small p-0 m-0 mr-2 text-secondary" hidden id="hostThreadId">{{host_id}}</p>
                        <p class="font-small p-0 m-0 mr-2 text-secondary">{{host_time|date:"Y-m-d H:i"}}</p>
                        <button class="btn no-background rounded-0 font-small p-0 px-1 text-primary replyHostBtn" style="height: 25px;">回复</button>
                    </div>-->
                </div>
            </div>
    {% endfor %}

    <div class="row mb-3 px-1">
        <div class="col-12 d-flex flex-column p-0">
            <form action="{% url 'main:add_notes' %}" method="post" id="replyToHostForm">
                {% csrf_token %}
            <input hidden name="patent_id" value="{{ item.pub_id }}">
                <textarea name="note" required id="replyContent"  rows="5"
                          class="form-control rounded-0 border-0 m-0" placeholder="批注内容"></textarea>
                <div class="d-flex flex-row justify-content-end py-2">
                    <!--<label for="sel1">Select list:</label>-->
                    <select class="form-control w-auto mx-2" id="sel1" name="note_type">
                        {% for val,text in note_types %}
                            <option value="{{ val }}">{{ text }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="form-control btn btn-primary col-2 p-1"  >发表</button>
                </div>
            </form>
        </div>
    </div>


    <!--<form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="text" name="same_family">
        <input type="submit" value="提交">
    </form>-->
</div>


</body>
</html>
