{% extends "./base.html" %}
{% block title %}导入专利{% endblock %}
{% block content %}
<div class="container" style="margin-top: 80px;margin-bottom: 30px">
    <h3 class="mb-3 mx-1 p-0">导入数据</h3>
    <form action="/import/" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row my-2 mx-1 ">
            <div class="input-group m-0">
                <div class="input-group-prepend">
                    <label for="csv_file" class="input-group-text">CSV文件</label>
                </div>
                <input required type="file" name="csv_file" id="csv_file" class="form-control p-1 m-0 " multiple accept=".csv, .CSV">
            </div>
        </div>

        <div class="row my-2 mx-1 ">
            <div class="input-group m-0">
                <div class="input-group-prepend">
                    <label for="pdf_file" class="input-group-text">PDF文件</label>
                </div>
                <input required type="file" name="pdf_files" id="pdf_file" class="form-control p-1 m-0 " multiple accept=".pdf">
            </div>
        </div>

        <div class="row mx-1 my-2 justify-content-end">
            <input type="submit" class="btn btn-primary px-5" value="提交">
        </div>
    </form>

</form>
</div>
{% endblock %}
