{% extends "./base.html" %}
{% block title %}数据查询{% endblock %}


{% block extra_head %}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">-->
    {% load static %}
    <script src="{% static "main/js/query.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid px-5" style="margin-top:80px;margin-bottom: 30px">
    <form action="/query/" method="post" id="query_form">
        {% csrf_token %}

        <div id="query_field_container">
            <div class="row my-2 mx-5" id="query_field_input">
                <div class="col p-0 mx-1">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <select class="input-group-text" id="query_field_select" name="query_field_1">
                                {% for field in query_fields %}
                                    <option value="{{ field.0 }}">{{ field.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input name="query_text_1" type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2 px-1 mx-5">
            <input type="number" hidden name="field_count" id="field_count" value="1">
            <button type="button" class="btn btn-light px-5 mr-2" id="add_field_btn">添加条件</button>
            <input type="button" id="submit_btn" class="btn btn-primary px-5 ml-auto "value="提交">
        </div>
    <input type="number" hidden name="page" id="page_input" value="1">
    <input type="number" hidden name="year" id="year_input" value="1">
    </form>

    <div class="row  mt-3 mx-5">
        <div class="col p-0 mx-1" id="query_show_div">
            <div class="row justify-content-between mx-1 my-0 p-0 ">
                <h3 id="result_header" class="mr-3">查询结果<small id="result_count">({{ result_count }})</small></h3>
                <div class="form-group m-0 p-0">
                    <select class="form-control" id="year_select">
                        <option value="1">不限</option>
                        {% for year in application_years %}
                        <option value="{{ year }}">{{  year }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <table class="table table-striped bg-white table-bordered table-hover">
                <thead class="table-primary">
                <tr>
                    {% for field,width in show_fields %}
                        <th style="width: {{ width }};">{{ field }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody id="table_content">
                {% for item in query_result %}
                    <tr>
                        {% for field in item %}
                            <td><a target="_blank" class="text-black just-line-break" href="{% url 'main:detail' %}?pub_id={{ item.2 }}">{{ field }}</a></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row  justify-content-center">
        <ul class="pagination">
            <li class="page-item disabled" id="previous_btn"><a class="page-link" href="#">上一页</a></li>
            <li class="page-item" ><a class="page-link" id="cur_page" href="#">1</a></li>
            {% if has_next %}
            <li class="page-item" id="next_btn"><a class="page-link" href="#">下一页</a></li>
            {% else %}
                <li class="page-item disabled" id="next_btn"><a class="page-link" href="#">下一页</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}

